:root {
    --background-color: #C8C8C8;
    --message-color: #000000;
    --message-size: 32px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: robotoregular,Arial,sans-serif;
    background-color: var(--background-color);
}

* { outline: none; }

.hidden {
    display: none !important;
}

.no_cursor {
    cursor: none;
}

#message {
    color: var(--message-color);
    font-size: var(--message-size);
}

#ready {
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    font-size: 22px;
}

/*#wrapper.hidden {
    display: none;
}*/